<div class="main">

  <div class="form">
    <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
          <form>
            <label for="chk" aria-hidden="true">sign up</label>
            <input type="string" name="username" placeholder="username" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="number" name="phone" placeholder="phone" required>
            <input type="year" name="birthYear" placeholder="birth year">
            <button>sign up</button>
          </form>
        </div>

        <div class="login">
          <form>
            <label for="chk" aria-hidden="true">login</label>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password" required>
            <button>login</button>
          </form>
        </div>
    </div>
</div>
